/*---------------------Basic setup--------------------*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    color: #e2eaf0;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

div {
    margin: 0 auto;
    max-width: 1024px;
    background-position: center;
}

h1{
    text-transform: uppercase;
}

p{
    text-align: left;
    font-size: 80%;
}

/*------------------TopCV----------------------*/

.topCV {
    text-align: center;
    background-color: #93071c;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.topCV ul {
    list-style: none;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.leftTopSide img {
    height: 300px;
    width: 310px;
}

.leftTopSide p {
    font-size: 50%;
    text-align: center;
    text-transform: uppercase;
}

.leftTopSide {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3b3738;
    
}

.rightTopSide {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    padding-right: 30px;
}

.rightTopSide p{
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.centerTopSide {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    margin: 0 auto;
}

/*------------------------BottomCV----------------------*/

.bottomCV {
    text-align: center;
    background-color: #3b3738;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.bottomCV h1{
       color:#bf233a; 
}

.bottomCV p{
    padding-top: 20px;
    padding-bottom: 30px;
}

.leftBottomSide {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 20px;
}

.rightBottomSide {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 20px;
}

.insideBottomSide {
    margin: 20px;
}

.insideBottomSide .left {
    margin-right: 20px;
}

.insideBottomSide .right {
    
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
}

.flex .left p{
    flex-basis: 100px;
    flex-grow: 1;
}

.flex .right{
    align-self: flex-end;
    flex-grow: 5;
}

/*------------------------Media----------------------*/

@media (max-width: 600px) {
    .topCV,
    .bottomCV {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/*------------------------Images----------------------*/

.hexa,
.hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.hexa {
    width: 325px;
    height: 230px;
}

.hexa div {
    width: 100%;
    height: 100%;
}

.hexa {
    transform: rotate(120deg);
}

.hex1 {
    transform: rotate(-60deg);
}

.hex2 {
    transform: rotate(-60deg);
}

/*------------------------Icon----------------------*/

i {
    
}

.fa-facebook {
    padding-left: 35px;
}

.fa-github {
    padding-left: 15px;
}

.icon {
    padding-right: 20px;
    padding-bottom: 10px;
    vertical-align: middle;
}
